
<div class="site-section" id="what-i-do-section">
<div class="container">
    <div class="row mb-5">
    <div class="col-lg-6 section-title">
        <span class="sub-title mb-2 d-block">What I Do</span>
        <h2 class="title text-primary">Far far away, behind the word mountains far from the countries</h2>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-10 ml-auto">
        <div class="row">
        {% for prog in progs %}
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
                <div class="service h-100">
                <h3>{{porg.title}}</h3>
                <p>{{porg.body}}</p>
                <p><a href="#portfolio-section" class="readmore">Learn more</a></p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    </div>
</div>
</div> <!-- END .site-section -->