{% load static %}

<script src="{% static 'portfolio/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'portfolio/js/popper.min.js' %}"></script>
<script src="{% static 'portfolio/js/bootstrap.min.js' %}"></script>
<script src="{% static 'portfolio/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'portfolio/js/aos.js' %}"></script>
<script src="{% static 'portfolio/js/jquery.sticky.js' %}"></script>
<script src="{% static 'portfolio/js/stickyfill.min.js' %}"></script>
<script src="{% static 'portfolio/js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'portfolio/js/isotope.pkgd.min.js' %}"></script>
  
<script src="{% static 'portfolio/js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'portfolio/js/main.js' %}"></script>
